# Git
.git
.gitignore

# Environments & Secrets
.env
.env.*
venv
.venv
env/
__pycache__
*.pyc
*.pyo
*.pyd

# Node
node_modules
npm-debug.log
dist

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
